--swift-version 6
--language-mode 6
--disable redundantSelf
--exclude DerivedData
--exclude build/
--exclude MaruTextAnalysis/Generated
--exclude MaruMark/Generated
--exclude External
--header "{file}\nMaruReader\nCopyright (c) 2026  Samuel Smoker\n\nMaruReader is free software: you can redistribute it and/or modify\nit under the terms of the GNU General Public License as published by\nthe Free Software Foundation, either version 3 of the License, or\n(at your option) any later version.\n\nMaruReader is distributed in the hope that it will be useful,\nbut WITHOUT ANY WARRANTY; without even the implied warranty of\nMERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the\nGNU General Public License for more details.\n\nYou should have received a copy of the GNU General Public License\nalong with MaruReader.  If not, see <http://www.gnu.org/licenses/>."
